@{
    ViewBag.Title = "Forside";
}

<h2>Velkommen til webchat applikasjonen</h2>
<legend>Informasjon</legend>
<p>Dette er en webapplikasjon som blir utviklet av Jan Tore, Håvard og Kim som en obligatorisk innlevering i faget Programmering i ASP.Net</p>
<br />
<p>Det har blitt lagt inn i underkant av 100 timer totalt i prosjektet</p>

<p>Ambisjonsnivå: A</p>